.main-grid{
  display: grid;
  grid-template-columns: 200px 0px;
  background-color: white;
  padding: 20px;
  width: 50%;
  height: 690px;
  position: fixed; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-content: center;
  position: absolute;
}

.grid-container-1 {
  position: relative;
  display: grid;
  height: 70%;
  grid-template-columns: 100px;
  grid-template-rows: repeat(7, 70px);
  grid-gap: 10px;
  margin: 50px;
  align-content: center;
  align-items: center;
}

.grid-container-2{
  position: relative;
  display: grid;
  height: 70%;
  grid-template-columns: repeat(5, 100px);
  grid-template-rows: repeat(7, 70px);
  grid-gap: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
  align-content: center;
  align-items: center;
}

.main-grid > div {
  text-align: center;
  padding: 50px 0;
}

.main2{
  grid-column-start: 1;
  grid-column-end: 6;
  border-bottom: 1px solid gray;
}

.main-head, main{
  border-bottom: 1px solid gray;

}

.main{
  padding: 20px;
  position: relative;
  align-items: center;
  border-bottom: 1px solid gray;
}

.box{
  width: 20px;
  height: 20px;
  border: 1px solid grey;
  padding: 20px;
  text-align: center;
  margin-left: 20px;
}

.item{
  width: 60px;
  height: 40px;
  padding: 20px;
  align-items: center;
}

.close{
  border: none;
  background-color: white;
  position: absolute;
  top: 0px;
  right: 0px;
}

.vl {
  border-left: 1px solid gray;
  height: 550px;
  position: absolute;
  left: 38%;
  top: 13%;
}

.vl1 {
  border-left: 1px solid gray;
  height: 500px;
  position: absolute;
  left: 45%;
  top: 20%;
}

.vl2 {
  border-left: 1px solid gray;
  height: 500px;
  position: absolute;
  left: 52%;
  top: 20%;
}

.vl3 {
  border-left: 1px solid gray;
  height: 500px;
  position: absolute;
  left: 59%;
  top: 20%;
}

.vl4 {
  border-left: 1px solid gray;
  height: 500px;
  position: absolute;
  left: 66.3%;
  top: 20%;
}

.vl5 {
  border-left: 1px solid gray;
  height: 550px;
  position: absolute;
  left: 73.4%;
  top: 13%;
}


